body {
  font-family: 'Montserrat', sans-serif;
  background-color: #e6e6e6;
}

h1 {
  color: #000;
  font-size: 100px;
  margin-bottom: 10px;
  text-align: center;
}

div {
  margin: 10px;
}

.main {
  justify-content: space-around;
  display: flex;
  width: 1200px;
  margin: 30px auto;
  border: 3px solid rgb(101, 255, 122);
}

.input {
  width: 400px;
  background-color: rgb(193, 255, 234);
  border: 3px solid rgb(101, 255, 122);
  padding: 150px 10px;
}

.output {
  width: 400px;
  padding: 150px 10px;
  border: 3px solid rgb(101, 255, 122);
  background-color: rgb(193, 255, 234);
}
